@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

:root {
  --sidebar-width: 240px;
  --font-base: "Bai Jamjuree", sans-serif;
}

body {
  font-family: var(--font-base);
}

a {
  text-decoration: none;
  color: var(--bs-success);
}

.heading-text {
  text-transform: uppercase;
}

.text-brand {
  color: var(--bs-success);
}

.full-height {
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 80px;
  border-bottom: 2px solid var(--bs-success-bg-subtle);
}

/* navbar */
.navbar {
  background-color: var(--bs-success-bg-subtle);
}

.navbar .nav-link {
  font-weight: 700;
}

.navbar .nav-link:hover {
  color: var(--bs-success);
}

.navbar .nav-link.active {
  color: var(--bs-success);
}

/* link custom */
.link-custom {
  font-weight: 700;
  position: relative;
}

.link-custom::after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: var(--bs-success);
  position: absolute;
  left: 0;
  top: 100%;
  transition: all 0.4s;
}

.link-custom:hover::after {
  width: 25%;
}

/* button */
.btn {
  padding: 12px 28px;
  font-weight: 700;
}

.btn-brand {
  background-color: var(--bs-success-bg-subtle);
}

.btn-brand:hover,
.btn-brand:focus {
  background-color: var(--bs-success);
  color: #fff;
}

@media (min-width: 768px) {
  /* link custom */
  .link-custom:hover::after {
    width: 15%;
  }
}

/* media > 992px */
@media (min-width: 992px) {
  /* navbar */
  .navbar {
    min-height: 100vh;
    width: var(--sidebar-width);
  }

  .navbar-brand img {
    border: 5px solid var(--bs-success);
  }

  /* link custom */
  .link-custom:hover::after {
    width: 100%;
  }

  /* content wrapper */
  #content-wrapper {
    padding-left: var(--sidebar-width);
  }
}
